@keyframes show-toast {
  0% {
    bottom: -100%;
    opacity: 0;
  } /* Start off-screen */
  20% {
    bottom: 100px;
    opacity: 1;
  } /* Slide into view */
  80% {
    bottom: 100px;
    opacity: 1;
  } /* Stay in view */
  100% {
    bottom: -100%;
    opacity: 0;
  } /* Slide out of view */
}

.show-notification {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  right: 20px;
  z-index: 9999; /* Ensure it's on top of other elements */
  animation-name: show-toast;
  animation-duration: 8s;
  animation-fill-mode: forwards; /* Maintain the final state */
  animation-timing-function: ease-in-out; /* Smooth animation */
}

.main-search.fancy .field-holder input[type="text"] {
  color: black !important;
}

table > tbody > tr > td {
  border: none !important;
}
/* ------------------------------------------- */
/* hide payment method radio button */
.payment-method [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* cursor pointer on moving over the image */
.payment-method [type="radio"] + img {
  cursor: pointer;
  padding: 7px;
}

/* checked style */
.payment-method [type="radio"]:checked + img {
  outline: 2px solid #ff0000;
}

/* apply the following css when the screen size is <= 480px */

@media only screen and (max-width: 480px) {
  a.get-start-btn {
    display: block;
    margin-top: 15px !important;
    margin-left: 0 !important;
  }

  .main-search-bar {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-position: right !important;
    
  }
  .user-dashboard{
    width: 100% !important;
  }
  .menu-itam-holder .quantity{
    right: 0 !important;
    margin-top: -30px;
  }
  .table.opening-hours{
    width: 100% !important;
  }
  .table td{
    padding: 0.5rem !important;
  }
  .responsive-table .table{
    width: 100% !important;
  }
}

table td, table th{
    line-height: 1rem !important;
}